---
layout: page
title: "Home"
class: home
---
<div class="columns">

  <div class="me">
    <picture>
      <source srcset="{{ '/assets/images/liucan.png'| relative_url }}" type='image/jpg' />
      <img src="{{ '/assets/images/liucan.png'| relative_url }}"  alt='Can Liu' />
    </picture>
    <ul class="no-list">
      <li><a class="no-list" href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i> {{ site.email }}</a></li>
      <li><a class="no-list" href="https://scholar.google.com/citations?user=c_qeUtUAAAAJ" target="_blank"><i class="fas fa-graduation-cap"></i> Google Scholar</a></li>
      
      <!-- <li><a class="no-list" href="mailto:can.liu[at]email.cn"><i class="fas fa-envelope"></i> can.liu[at]email.cn</a></li> -->
    </ul>
  </div>

  <div class="intro">
    <p> I am a research fellow in the College of Computing and Data Science (CCDS), Nanyang Technological University.
      I received my Ph.D. in Intelligent Science (2023), B.Sc. in Computer Science (2018), and B.Ec in Economics (2018) degrees from Peking University.

      My research focuses on AI-driven data visualization and human–computer interaction, with particular emphasis on how AI can support human understanding of complex data. Specifically, I am interested in intelligent data interaction, intelligent visual design, and intelligent data management. I also explore how AI enables more creative visual representations and supports applications in digital humanities.
    </p>
    <p>
      I enjoy writing Chinese poetry and hiking, often at the same time. Visit <a class="site-title" href="{{ '/mushan/' | relative_url }}" target="_blank" rel="noopener noreferrer">Mushan Collection</a> to read some of my ancient-style poems.
    </p>

    <!-- <div class="news">
      <h5>Latest ----------------------</h5>
      <div>
        {% for news in site.data.news limit:4 %}
        {% include news.html news=news %}
        {% endfor %}
        </div>
    </div> -->
  </div>
  
</div>

<h2>Featured Publications</h2>
<div class="featured-publications">
  {% for pub in site.data.publication %}
  {% if pub.highlight > 0 %}
    {% include featured-publication.html pub=pub lang="en" %}
  {% endif %}
  {% endfor %}
</div>
<a href="{{ "/publications/" | relative_url }}" class="button">
  <i class="fas fa-chevron-circle-right"></i>
  All Publications
</a>

<h2>Featured Projects</h2>
<div class="featured-projects">
  {% assign sorted_projects = site.data.project | sort: 'highlight' %}
  {% for project in sorted_projects %}
  {% if project.highlight %}
  {% include project.html project=project %}
  {% endif %}
  {% endfor %}
</div>
<a href="{{ "/projects/" | relative_url }}" class="button">
  <i class="fas fa-chevron-circle-right"></i>
  Show More Projects
</a>
