---
layout: page-zh
title: "Home"
permalink: /zh/
class: home
---
<div class="columns">

  <div class="me">
    <picture>
      <source srcset="{{ '/assets/images/liucan.png'| relative_url }}" type='image/jpg' />
      <img src="{{ '/assets/images/liucan.png'| relative_url }}"  alt='Can Liu' />
    </picture>
    <ul class="no-list">
      <li><a class="no-list" href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i> {{ site.email }}</a></li>
      <li><a class="no-list" href="https://scholar.google.com/citations?user=c_qeUtUAAAAJ" target="_blank"><i class="fas fa-graduation-cap"></i> 谷歌学术</a></li>
    </ul>
  </div>

  <div class="intro">
    <p>刘灿，南洋理工大学博士后研究员。北京大学智能学院理学博士；北京大学信息科学技术学院计算机理学学士及北京大学国家发展研究院经济学学士。
    主要研究兴趣为深度学习驱动下的数据分析和人机交互。
    </p>
    <p>
      我喜欢古诗词和登山，尤喜登山时创作诗词。详见《<a class="site-title" href="{{ '/mushan/' | relative_url }}" target="_blank" rel="noopener noreferrer">牧山集</a>》。
    </p>


    <!-- <div class="news">
      <h5>Latest ----------------------</h5>
      <div>
        {% for news in site.data.news limit:4 %}
        {% include news.html news=news %}
        {% endfor %}
        </div>
    </div> -->
  </div>
  
</div>

<h2>部分文章</h2>
<div class="featured-publications">
  {% for pub in site.data.publication %}
  {% if pub.highlight > 0 %}
    {% include featured-publication.html pub=pub lang="zh" %}
  {% endif %}
  {% endfor %}
</div>
<a href="{{ "/publications-zh/" | relative_url }}" class="button">
  <i class="fas fa-chevron-circle-right"></i>
  所有发表物
</a>

<h2>部分项目</h2>
<div class="featured-projects">
  {% assign sorted_projects = site.data.project | sort: 'highlight' %}
  {% for project in sorted_projects %}
  {% if project.highlight %}
  {% include project-zh.html project=project %}
  {% endif %}
  {% endfor %}
</div>
<a href="{{ "/projects-zh/" | relative_url }}" class="button">
  <i class="fas fa-chevron-circle-right"></i>
  所有项目
</a>
