<footer>
  <div class="container">
    <div class="footer-col">
      <br />
      <br />
      All Rights Reserved.<br />
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">Last build on {{ site.time | date: '%B %Y'}}</abbr>
      <br />
      <br />
    </div>
    <div class="footer-col footer-col-map">
      <div class="visitor-map">
        <script type="text/javascript" id="mapmyvisitors" src="https://mapmyvisitors.com/map.js?cl=fefefe&w=a&t=n&d=72wQxy69VEZjYgVEkgRSumDalkpS08uZtCqP1BHyMMU&co=8b0801&cmo=7088ff"></script>
      </div>
    </div>
  </div>
</footer>
