<footer>
  <div class="container">
    <div class="footer-col">
      <br />
      <br />
      All Rights Reserved.<br />
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">Last build on {{ site.time | date: '%B %Y'}}</abbr>
      <br />
      <br />
    </div>
    <div class="footer-col" width = "100px">
      <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=72wQxy69VEZjYgVEkgRSumDalkpS08uZtCqP1BHyMMU&cl=ffffff&w=a"></script>


    </div>
  </div>
</footer>
