<footer>
  <div class="container">
    <div class="footer-col">
      <br />
      志合山海越<br />
      千里复相逢<br />
      星汉光年远<br />
      倏如一江风<br />
      <br />
      <!-- <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">上次更新于{{ site.time | date:'%Y年%m月'}}</abbr> -->
    </div>
    <div class="footer-col" width = "100px">
      <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=72wQxy69VEZjYgVEkgRSumDalkpS08uZtCqP1BHyMMU&cl=ffffff&w=a"></script>
    </div>
  </div>
</footer>
