<footer>
  <div class="container">
    <div class="footer-col">
      <br />
      <br />
      All Rights Reserved.<br />
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">Last build on {{ site.time | date: '%B %Y'}}</abbr>
      <br />
      <br />
    </div>
    <div class="footer-col" width = "100px">
      <!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=iTs9tWxp77mPUc-nmvOaa7WT_MnM3vT7ZN5-qScLKQU"></script> -->
      <!-- <a href="https://clustrmaps.com/site/1c3hc"  title="ClustrMaps"><img src="//www.clustrmaps.com/map_v2.png?d=iTs9tWxp77mPUc-nmvOaa7WT_MnM3vT7ZN5-qScLKQU&cl=ffffff" /></a> -->
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=iTs9tWxp77mPUc-nmvOaa7WT_MnM3vT7ZN5-qScLKQU&cl=ffffff&w=214&co=8b0801"></script>


    </div>
  </div>
</footer>
