<footer>
  <div class="container">
    <div class="footer-col">
      <br />
      志合山海越<br />
      千里复相逢<br />
      星汉光年远<br />
      倏如一江风<br />
      <br />
      <!-- <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">上次更新于{{ site.time | date:'%Y年%m月'}}</abbr> -->
    </div>
    <div class="footer-col" width = "100px">
      <!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=iTs9tWxp77mPUc-nmvOaa7WT_MnM3vT7ZN5-qScLKQU"></script> -->
      <!-- <a href="https://clustrmaps.com/site/1c3hc"  title="ClustrMaps"><img src="//www.clustrmaps.com/map_v2.png?d=iTs9tWxp77mPUc-nmvOaa7WT_MnM3vT7ZN5-qScLKQU&cl=ffffff" /></a> -->
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=iTs9tWxp77mPUc-nmvOaa7WT_MnM3vT7ZN5-qScLKQU&cl=ffffff&w=214&co=8b0801"></script>
    </div>
  </div>
</footer>
